* { 
    background-color: rgb(229, 215, 255);
    font-size: 40px;
    /* font-family: ; */
}


.container {
    position: relative;
    width: 15%;
    margin: 5%;
    }
    
    /* Make the image responsive */
    .container img {
    width: 100%;
    height: auto;
    }
    
    /* Style the button and place it in the middle of the container/image */
    .container .btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    }
    
    .container .btn:hover {
    background-color: black;
    }

.racing-chickens {
    display: flex;
    grid-auto-flow: row;
    width:15%;
    margin:5%;
}

#finish {
    display: flex;
    height: 300px;
    float: right;
}
.race {
    border-width: 4px;
}