* {
    background-color: rgb(229, 215, 255);
    font-size: 40px;
    /* font-family: ; */
}


.container {
    position: relative;
    width: 15%;
    margin: 5%;
}



/* Style the button and place it in the middle of the container/image */
.container .btn {
    
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}


.racing-chickens {
    width: 15%;
    margin: 5%;
}


.race {
    display: grid;
    border-width: 4px;
    border-color: aqua;
    border-style: solid;
}

.racing-chicken1{
    border-width: 4px;
    border-color: rgb(228, 107, 107);
    border-style: solid;
  /* Defines 3 columns with equal width (1 fraction) */
  grid-template-columns: 1fr 1fr 1fr;
  /* Defines a single row with a height of 100px */
  grid-template-rows: 100px;
  gap: 10px; /* Adds space between items */
}
.racing-chicken2{
    border-width: 4px;
    border-color: rgb(228, 107, 107);
    border-style: solid;
  /* Defines 3 columns with equal width (1 fraction) */
  grid-template-columns: 1fr 1fr 1fr;
  /* Defines a single row with a height of 100px */
  grid-template-rows: 100px;
  gap: 10px; /* Adds space between items */
}

.line {
    z-index: -1;
    border-width: 4px;
    border-color: rgb(31, 157, 9);
    border-style: solid;
    float: inline-end;
    height: 280px;
}

